html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  padding: 1px;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  color: #333333;
}

#chart-container {
  position: relative;
  height: 100%;
  border: 1px solid #47A7F3;
  margin: 0.5rem;
  overflow: auto;
  text-align: center;
}

.orgchart .second-menu-icon {
  transition: opacity .5s;
  opacity: 0;
  right: -8px;
  top: -8px;
  z-index: 2;
  position: absolute;
}

.orgchart .second-menu-icon::before {
  background-color: rgba(68, 157, 68, 0.5);
}

.orgchart .second-menu-icon:hover::before {
  background-color: #449d44;
}

.orgchart .node:hover .second-menu-icon {
  opacity: 1;
}

.orgchart .node .second-menu {
  display: none;
  position: absolute;
  bottom: -35px;
  right: 0;
  border-radius: 35px;
  box-shadow: 0 0 10px 1px #999;
  background-color: #fff;
  z-index: 3;
}

.orgchart .node .second-menu .avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  float: left;
  margin: 5px;
}